.headerContainer{
    backdrop-filter: blur(3px);
    z-index: 10;
    padding:0rem 1rem;
    position: fixed;
    right: 0%;
    left: 0;
}

.logo .icon{
    font-size: 1.5rem;
    display: grid;
    place-items: center;
}

nav,.sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.sign > *{
    border: 1px solid #000;
    padding: .2rem 1rem;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #0f0f0f;
    border: 1px solid rgba(34, 33, 33, 0.096);
    border-radius: 4px;
    text-transform: uppercase;
    border:1px solid #fff;
}

.sign > *:first-child{
    color: #ffffff;
    background-color: transparent;
}
.sign > *:nth-child(2):hover{
    color: #ffffff;
    background-color: transparent;
}