
.mes-not {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 40px;
  display: grid;
  margin: 0.5rem;
  grid-template-columns: 1fr;
  font-family:inherit;
}

.mes-not .messages {
  background-color: rgb(255, 255, 255);
}


/* notification styles */
.notifications {
  max-height: 80vh;
  color: #272626;
  position: relative;
  border-radius: 10px;
  
}
.notification-list {
  position: relative;
  color: #333;
  max-height: 100%;
  overflow: auto;
  display: grid;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #fff;
}
.notification-list > div {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  gap: 1rem;
  background-color: #ffffffb9;
  border: 1px solid #dddddd00;
  cursor: pointer;
  transition:all 0.2s ease-in-out;
  border: 1px solid #eee;
}

.notification-list > div .logo {
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 1rem;
  display: grid;
  place-items: center;
  color: red;
}
.notification-list > div:hover {
  background-color: #ffffff;
}

.notification-list > div p {
  font-size: 0.8rem;
}
.notification-list > div p:nth-of-type(2) {
  color: #807c7c;
}

.notification-list > div div.message {
  display: flex;
  flex-direction: column;
}

.notification-list > div div.message > * {
  margin: 0;
}

.notify{
  background-color:#504d4d;
  border:1px solid #333;
  position:relative;
  transition:all 2.5s ease-in-out;
}

.notification-header{
  display:flex;
  align-items:center;
  gap:.5rem;
}

.notify .message{
  text-align:left;
  display:flex;
  flex-direction:column;
}

.notify .message > *{
  margin:0;
}
.notify .message > p{
 font-size:.7rem;
 color:#adaaaa;
 font-weight:100;
}

.notify .message .created-date{
  margin-top:0;
  font-size:.6rem;
}

.notify .message p.no-header{
  font-size:.7rem;
  color:#444343;
  font-weight:bold;
}

.mes-not .notifications .notification-list .activeNotification{
    background-color:#fdfafa;
    position:relative;
}

.close-notify{
    position:absolute;
    top:1rem;
    cursor:pointer;
    right:1rem;
}

.notify-icons{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .3rem 0;
}
.notify-icons > div{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eee;
  display: grid;
  place-items: center;
  border:1px solid #f7f4f4;
  font-size: .7rem;
}
.notify-icons > div:hover{
  background-color:#fff;
}